body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25pt;
    color: rgb(0, 0, 0);
  }
  
  #interface{
    margin-top: 10%;
    margin-left: 10%;;
  }
  
  body{
   user-select: none;   
  }
  
  canvas{
   background-color: black; 
   width: 10%;  
  }
  
  span{
   padding-left: 30px;
  }
  
  #first{
    padding-left: 0px;
   }

  #notas{
    text-align: center;
    margin-top: 60px; 
    display: none;
    font-size: 20pt;
  }

  #advertencia{
   color: rgb(255, 38, 0);
   text-align: center;
  }

  @media screen and (orientation:portrait) and (max-width: 560px) {
     canvas{
     display: none;
    }
 }

 @media screen and (orientation:portrait) and (min-width: 560px) {
    canvas{
    display: none;
  }
 
}

@media screen and (orientation:landscape)  and (min-width: 561px) {
    #advertencia{
    display: none;
    }
  
    #notas{
    display: block;
    }
}
